.h1 {
   color: #fff;
   font-size: 85px;
}
.model_y_p {
   color: #fff;
   text-decoration: underline;
   text-align: center;
   font-size: 15px;
}
.model_y_p1 {
   color: #fff;
   text-align: center;
   font-size: 28px;

}
.btn1 {
   max-width: 264px;
   display: inline-block;
   padding: 10px 90px;
   background-color: #3e6ae1;
   border-radius: 5px;
   text-align: center;
   text-decoration: none;
   color: #fff;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
     Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
   font-size: 14px;
   transition: background-color 0.3s;
 }
 
 .btn1:hover {
   background-color: #294696;
 }
 .btn2 {
   max-width: 264px;

   display: inline-block;
   padding: 10px 90px;
   background-color: #f5f5f5;
   border-radius: 5px;
   text-align: center;
   text-decoration: none;
   color: #111;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
     Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
   font-size: 14px;
 
   transition: background-color 0.3s;
 }
 
 .btn2:hover {
   background-color: #e0e0e0;

 }  
 .btns1 {
   display: flex;
   justify-content: center;
   gap: 20px;
   flex-wrap: wrap;

  
 }
 .container {
   height: 100dvh;
   background-image: url('/model_s_page_bg.avif');
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
 }
 .textcont {
   padding-top: 60px;
   display: flex;
   gap: 10px;
   flex-direction: column;
 }
 .textp {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   text-align: center;
   gap: 40px;
   color: #fff;
   flex-wrap: wrap;
   
 }
 .bottomcont {
   display: flex;
   flex-direction: column;
   gap: 30px;
   margin-top: clamp(12.5rem, 8.9286rem + 17.8571vw, 31.25rem);

 }
 .niga {
  margin-top: 40px;
  box-shadow: 3px 4px 150px 106px #000000;
  padding: 100px 0;
  background-color: #000;

 }
 .text_align_center {
   text-align: center;
   color: #fff;
 }
 .abbosniga {
   height: 100dvh;
   background-image: url('/abbosniga.avif');
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
 }
 .abbos {
  background: #111;
  margin: 120px auto;
  gap: 10px;
  display: flex;
  flex-direction: column;
  video {
    margin-left: 300px;
    max-width: 1400px;
    width: 100%;
    height: 574px;
    border-radius: 10%;
    @media (max-width: 1700px) {
      margin-left: 100px;
    }
    @media (max-width: 1410px) {
      margin-left: 50px;
    }
    @media (max-width: 1400px) {
      margin-left: 0px;
    }
  }
  h3 {
    margin: 0 auto;
    text-align: start;
    color: #fff;
  }
  p {
    margin: 0 auto;
   
    color: #fff;
    font-size: 14px;
    max-width: 500px;
    width: 100%;
  }
 }










 .sliderControls {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.sliderButton {
  width: 15px;
  height: 15px;
  background-color: gray;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
  border: none;
  transition: 0.5s;
}

.sliderButton.active {
  background-color: #fff;
}








.watafak {
  display: flex;
  flex-direction: column;
  gap: 50px;
  img {
    max-width: 550px;
    width: 100%;
  }
  video {
    max-width: 550px;
    width: 100%;
  }
  h4 {
    color: #fff;
  }
  p {
    color: #fff;
  }
}
.watafak_1 {
  margin: 0 auto;
  display: flex;
  gap: 30px;

  @media (max-width: 700px) {
    flex-direction: column;
  }

}
.textwtf {
  max-width: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.watafak_2 {
  margin: 0 auto;
  display: flex;
  gap: 30px;
  flex-direction: row-reverse;
  @media (max-width: 700px) {
    flex-direction: column;
  }
}
.watafak_3 {
  margin: 0 auto;
  display: flex;
  gap: 30px;
  @media (max-width: 700px) {
    flex-direction: column;
  }
}
.sigmo {
  margin-top: 10px;
  height: 710px;
  background-image: url('model_s_bg_page.avif');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-top: 1px solid white;
}
.sktext {
  color: #fff;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  gap: 50px;
  margin-top: clamp(6.25rem, 0.2976rem + 29.7619vw, 37.5rem);
  
}
.whitexz {
  background-color: #fff;
  display: flex;
  flex-direction: row;
  padding-bottom: 50px;
  padding-left: clamp(0rem, -3.5714rem + 17.8571vw, 18.75rem);
  flex-wrap: wrap;
}
.newbtn1 {
  padding-right: 40px;
  padding-left: 40px;

  color: #000;
  border: 2px solid black;
  background-color: #fff;
  &:hover {
    background-color: #000;
    color: #fff;
  }
}
.newbtns {
  display: flex;
  gap: 20px;
}
.newbtn2 {
  padding-right: 40px;
  padding-left: 40px;
  background-color: rgb(248, 236, 236);
}
.othertext {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: clamp(0rem, -3.5714rem + 17.8571vw, 18.75rem);

  p {
    font-size: 13px;
  color: rgb(58, 52, 52);
   
  }
}
.othercontent {

  display: flex;
  flex-direction: column;
  gap: 20px;
}
.span {
  color: rgb(58, 52, 52);
  text-decoration: underline;
}
